/* -----------------------------geral ---------------------*/
.txt_align{
    text-align: center;
}

.centro{
  margin:0 auto;
}
body{
      background: url('../imagens/fundo_logo.gif') center center no-repeat fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;


}


/* ---------------------------- FINAL geral ---------------------*/

/*-------------------------- pagina login de usuario---------------------------- */
#pag_cad{
  margin: 0;
  padding: 0;
  /* background-color: #17a2b8;
  height: 100vh; */
}
#login .container #login-row #login-column #login-box {
  margin-top: 20%;
  max-width: 600px;
  height: 100%;
  border-radius:10px;
  background-color:rgba(000, 000, 000, 0.7);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

#fundo{
    background-image: url("../imagens/fundo_login.jpg") ;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.txt_form_cad{
    color: #fff;
}

.label{
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
/*--------------------------FINAL pagina login de usuario---------------------------- */

/*--------------------------pagina cadastro de usuario---------------------------- */

#form_cad{
    background: rgba(0, 0, 0, 0.8);
    padding: 50px;
    border-radius: 10px;
    width: 60%;
    margin-top: 20px;
    
}

.txt_form_cad:hover{
  color:#fff;
}

/*--------------------------FINAL pagina cadastro de usuario---------------------------- */

/*--------------------------pagina APLICAÇÃO de usuario---------------------------- */
#cad_app{
  background: rgba(0, 0, 0, 0.9);
  padding: 50px;
  border-radius: 10px;
  width: 50%;
  margin-top: 50px;
  
}

#lista_app{
  display: none;
  border-radius: 10px;
  width: 50%;
  margin-top: 50px;
  margin: 0 auto;
}

#mapa_rotas{
  background: rgba(0, 0, 0, 0.9);
  padding: 50px;
  border-radius: 10px;
  width: 50%;
  margin-top: 50px;
}
/*--------------------------FINAL pagina APLICAÇÃO de usuario---------------------------- */
