@media only screen and (min-width: 768px) and (max-width: 1140px){
    #calendar {
        width: 60%;
      }



}

@media only screen and (min-width: 480px) and (max-width: 767.98px) {
    #calendar {
        width: 90%;
      }



}

/* ______________________________________tamanho padrao para smartphones____________________________________ */
@media only screen and (max-width: 479.98px) {
    #form_cad{
        width: 95%;
        
    }

    #cad_app{
        width: 95%;
        
    }

    #lista_app{
        width: 95%;

    }

    #mapa_rotas{
        width: 95%;

    }

    
#calendar {
    width: 100%;
  }

}

/* ______________________________________ FINAL tamanho padrao para smartphones____________________________________ */
